<div id="footer">
  <div class="container">

    <div class="row footer-first-row">

      <div class="col-xs-12 text-center">
        <p><small>
          &copy; <%= Time.now.year %> NejmaAsso
          <br/>
          Created by  <%= link_to "Ramsi Ferkous", "https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" %>
        </small></p>
      </div>

    </div>

  </div>
</div>

